* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

.form-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.full-screen {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    /* Background semi-transparente */
    flex-direction: column;
}

.spinner-border {
    width: 3rem;
    height: 3rem;
    margin-bottom: 1rem;
}

.loading-text {
    color: black;
    font-size: 1.5rem;
}

.closed {
    display: none;
}

.chessboard {
    margin-top: 50px;
    width: 800px;
    height: 800px;
    display: flex;
    flex-direction: column;
    /* Para organizar as linhas na direção vertical */
    justify-content: center;
    align-items: center;
}

.chessboard .linha {
    width: 100%;
    display: flex;
}

iconify-icon {
    font-size: 50px;
}

.chessboard .coluna {
    width: 12.5%;
    height: calc(800px * 0.125);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    cursor: pointer;
}

.chessboard .coluna:hover {
    border: 1px solid black;
}

.chessboard .white {
    background-color: #f0d9b5;
}

.chessboard .black {
    background-color: #b58863;
}

.chessboard .possivel-movimento {
    border: 5px dotted turquoise;
}

.chessboard .possivel-movimento:hover {
    border: 5px dotted turquoise;
}

.chessboard .selecionado {
    border: 5px solid turquoise;
}

.chessboard .nenhum-movimento {
    border: 5px solid red;
}

.chessboard .nenhum-movimento:hover {
    border: 5px solid red;
}

.chessboard .selecionado:hover {
    border: 5px solid turquoise;
}